/* || GENERAL STYLES */
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

:root {
  /* || COLORS */
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsla(333, 80%, 67%, 0.623);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Spartan", sans-serif;
  text-align: center;
  font-size: 15px;
  margin: 30px;
  background: url("images/bg-pattern-top-desktop.svg") left top no-repeat,
    url("images/bg-pattern-bottom-desktop.svg") right bottom no-repeat;
  background-size: auto, auto;
}

.description {
  padding-top: 75px;
}

.description h1 {
  font-size: 2rem;
  color: var(--very-dark-magenta);
  width: 90%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.description p {
  color: var(--dark-grayish-magenta);
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 0.8rem;
  padding: 10px;
  line-height: 1.8;
}

.rating {
  background-color: var(--light-grayish-magenta);
  border-radius: 10px;
  margin: 15px 0;
  padding: 15px;
}

.rating h4 {
  color: var(--very-dark-magenta);
  font-size: 0.9rem;
  margin-top: 12px;
}

.rating img {
  height: 15px;
  width: auto;
  margin: 2px;
}

.reviews {
  margin-top: 50px;
}

.review {
  background-color: var(--very-dark-magenta);
  border-radius: 10px;
  margin: 20px 0;
  padding: 15px;
}

.review p {
  color: var(--white);
  padding: 20px;
  line-height: 1.3rem;
  text-align: left;
  font-size: 0.8rem;
}

.people {
  padding: 30px;
  display: flex;
  flex-direction: row;
}

.people img {
  border-radius: 100%;
  margin-right: 17px;
  height: 50px;
}

.name h3 {
  color: var(--light-grayish-magenta);
  margin: 7px 0;
  font-size: 0.9rem;
  text-align: left;
}

.name h4 {
  color: var(--soft-pink);
  font-size: 0.8rem;
  text-align: left;
  font-weight: 400;
}

@media only screen and (min-width: 1000px) {
  body {
    width: 85%;
    margin: 0 auto;
  }

  .flex {
    display: flex;
    justify-content: space-between;
  }

  .description {
    padding-top: 130px;
  }

  .description h1,
  .description p {
    width: 90%;
    max-width: 450px;
    padding-right: 60px;
    text-align: left;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
  }

  .description h1 {
    font-size: 3rem;
  }
  .ratings {
    width: 100%;
    max-width: 430px;
    margin-top: 145px;
  }

  .rating {
    display: flex;
    align-items: center;
    position: relative;
  }

  .rating h4 {
    margin-top: 5px;
    margin-left: 30px;
  }

  .rating1 {
    right: 100px;
  }
  .rating2 {
    right: 50px;
  }
  .stars {
    margin-left: 15px;
  }

  .reviews {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  .review {
    position: relative;
    width: 31%;
  }

  .review1 {
    bottom: 30px;
  }
  .review2 {
    bottom: 15px;
  }

  .review p {
    padding: 10px 20px;
    padding-bottom: 30px;
  }
} ;
